<h1 class="container" id="logo">
    <%= link_to root_path do %>
   <%= image_tag "logo.png", class: "logo" %>
<% end %>
</h1>
    <head class="style">
        <div class="jumbotron"> 
            <table>
                <th class="style2">
                    <%= image_tag "pb.jpg", class: "logo" %><p></br></p>
                    <%= image_tag "pb.jpg", class: "logo" %>
                </th>
                <th>
                    <h1 style="  color : white; letter-spacing: -4px; font-size: 6.5em; text-align: center; margin-left: 150px;float: top; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 70px;">
                          <b>L'Entreprise</b>
                    </h1>
                    <h2 style=" font-size: 3.0em; text-align: center; margin-left: 400px; margin-bottom: 60px; margin-right: 30px;  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 30px; color: white;">
                             
                    </h2>
                    <p style="margin-top: 85px; font-size: 1.0em; text-align: justify; margin-left: 45px; margin-right: 70px; color: #646464;">
                            Capital</br></br>40 Hectares de plein-champ</br>2 Hectares d'Abris</br>11 salariés</br></br></br> Une situation privilégiée puisqu'elle est à 10 Km du Mans et 1Km de la sortie d'autoroute A28</br></br></br>Certification GLOBALGAP</br>Organisation de producteurs VALDIPOM</br></br></br>
Culture:</br></br>

- Salades 860 000 /an </br>

- Poireaux 400 tonnes/an</br>

- Céleris 90 000/an </br>

- Choux 40 000 /an</br>

- Épinards 30 tonnes/an </br></br>


Circuit de distribution:</br></br>

- Centrale d'Achat</br>

- Magasin direct</br>

- Grossiste</br>

- Vente en direct à la Ferme (Distributeur)
                    </p>         
                </th>
            </table>
        </div>
    </head>