<head>
    <h1>Bienvenue</h1>
</head>
<body>
    <div class="jumbotron">
  <h1>SCEA Blin</h1>
  <p>Nous sommes maraîchers à Parigné l'évêque. Nous proposons des produits issus de l'agriculture raisonnée tout au long de l'année.
Nos légumes sont disponibles en libre service sur l'exploitation grâce au distributeur automatique de légumes et à la vente en direct. </p>
 
</div>
</body>