<h1 class="container" id="logo">
    <%= link_to root_path do %>
   <%= image_tag "logo.png", class: "logo" %>
<% end %>
</h1>
    <head class="style">
        <div class="jumbotron"> 
            <table>
                <th>
                    <%= image_tag "pb.jpg", class: "logo" %>
                </th>
                <th>
                    <h1 style=" color : white; letter-spacing: -4px; font-size: 6.5em; text-align: center; margin-left: 400px; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 30px;">
                          <b>SCEA BLIN ?</b>
                    </h1> 
                    <h2 style=" font-size: 3.0em; text-align: center; margin-left: 400px; margin-bottom: 60px; margin-right: 30px;  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; margin-right: 30px; color: white;">
                            Qui sont-ils ?
                    </h2>
                    <p style=" font-size: 1.6em; text-align: justify; margin-left: 400px; margin-right: 30px; color: #646464;">
                            Nous sommes maraîchers à Parigné l'évêque. Nous proposons des produits issus de l'agriculture raisonnée tout au long de l'année. Nos légumes sont disponibles en libre service sur l'exploitation grâce au distributeur automatique de légumes et à la vente en direct.
                    </p>         
                </th>
            </table>
        </div>
    </head>
