$navbar-default-bg: #725E73;
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
    height: 85px;
}

.navbar-brand>img{
    height: auto;
    width: 25%;
    float: left;
    padding-top: 0px;
    
}

.container-fluid .dropdown-toggle {
    color: white;
}