@import "bootstrap-sprockets";
@import "bootstrap";

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
#navbar a {
    background-color: none;
}

#navbar li {
    float: left;
    text-align: center;
}

#navbar li a {
  display: block;
  color: #C222CA;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom:#C222CA;
  text-shadow: 0 0 15px green;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  background-color: white;
  opacity: 0.5;
}
.jumbotron{
    margin-top: 250px;
    background-image: linear-gradient(white,#E684E7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron2{
    margin-top: 250px;
    background-image: linear-gradient(white,#E684E7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-position: middle;
    background-image: url('champ.jpg');
    background-repeat: no-repeat;
    
}
.container{
    margin-top: 150px;
    text-align: center;
}

.style{
    text-align: center;
}
footer h1{
    text-align: center;
    font-size: 13px;
    word-spacing: 10px;
}
footer{
   
    border-top: 1px solid #DFDFCF;
    background-image: linear-gradient(white,#DD60FB);
    opacity: 0.6;
    padding-bottom: 20px;
}

.jumbotron img{
    width: 200%;
    height: auto;
    text-align: left;
    margin-left: 40px;
    vertical-align: middle;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron2 img{
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}